<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
        <h1>Create a Basketball Team!</h1>

        <form method="POST" action="/team">
           <p>Team Name: <input type="text" id="team_name">
           <p>Coach: <input type="text" id="coach">
           <p>Point Guard: <input type="text" id="point_guard">
           <p>Shooting Guard: <input type="text" id="shooting_guard">
           <p>Small Forward: <input type="text" id="small_forward">
           <p>Power Forward: <input type="text" id="power_forward">
           <p>Center: <input type="text" id="center"></p>
            <input type="submit">
        </form>
 </body>
</html>


